<ion-view view-title="home" class="ion-page">
  <div class="header-container">
    <ion-navbar class="toolbar toolbar-md app-header root-page">
      <div class="toolbar-background toolbar-background-md"></div>
      <button class="search-back disable-hover font25 bar-button bar-button-md bar-button-default bar-button-default-md">
        <a class="ion-arrow-left-c color-white"></a>
      </button>
      <ion-buttons class="bar-buttons bar-buttons-md">
        <button class="old-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md" ion-button="">
          <i class="icon ion-search placeholder-icon"></i>
          <div class="button-effect"></div>
        </button>
        <button class="balance-button disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"
          ion-button="" menu-toggle="right">
          <span class="button-inner">
            <balance>
              <div>
                <i class="fi flaticon-user"></i>
                <span class="balance">{{(balanceData.balance || 0)| number:2}}</span>
              </div>
            </balance>
          </span>
          <div class="button-effect"></div>
        </button>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md" ui-sref="app.home">
        <ion-title class="left-title title title-md">
          <div class="toolbar-title toolbar-title-md">
            <div class="logo">
              Kings Bet
            </div>
          </div>
        </ion-title>
      </div>
    </ion-navbar>

    <!-- ngIf:  -->
  </div>
  <ion-content class="racing-page content content-md" padding="" style="margin-top:40px;">
    <!-- <div class="fixed-content" style="margin-top: 60px;"></div>
    <div class="scroll-content" style="margin-top: 60px;"> -->
    <div>
      <h2 class="page-title">Horse Racing</h2>
      <h3 class="page-subtitle">Upcoming Races</h3>
      <my-bets>
        <div class="my-bets-container">
          <ion-list>
            <div ng-repeat="group in groups" class="mb-10">
              <ion-item class="item-stable racing-page" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                <h3 class="toggle f32">
                  <div class="title">
                    <div class="flag gb"></div>
                    <div class="venue">Ayr</div>
                    <p class="time">18:05</p>
                  </div>
                  <div class="info-section padd-top15">
                    <i class="icon ion-clock"></i>
                  </div>
                  <div class="item-icon-right">
                    <i class="icon font15" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                  </div>
                </h3>
              </ion-item>
              <ion-item class="item-accordion" ng-show="isGroupShown(group)">
                <div class="list-body distinct">
                  <market>
                    <div class="market list-item betting-disabled" id="selection-1.146659421-20102819">
                      <div class="runner-details">
                        <div>
                          <div class="float-container">
                            <div class="number-ids">
                              <span>6</span>
                              <br>
                              <span>(2)</span>
                            </div>
                          </div>
                          <div class="float-container">
                            <race-symbol>
                              <div class="race-symbol horse-racing">
                                <img class="symbol-img" src="/api/media/jockeysilk/YzIwMTgwODEzYXlyLzAwODQ3MDEzLmpwZw">
                              </div>
                            </race-symbol>
                          </div>
                          <div class="float-container runner-name">
                            <div class="title truncate">Mistress Of Love</div>
                            <div class="jockey-name truncate">P. J. McDonald</div>
                          </div>
                        </div>
                        <pnl class="pnl-racing">
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">1.55</div>
                            <market-volume>21,000
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">1.56</div>
                            <market-volume>42,600
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">1.57</div>
                            <market-volume>46,604
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">1.58</div>
                            <market-volume>6,396
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">1.59</div>
                            <market-volume>33,766
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">1.60</div>
                            <market-volume>123,574
                            </market-volume>
                          </div>
                        </bet-button>
                      </div>
                    </div>
                    <div class="market list-item betting-disabled" id="selection-1.146659421-19068149">
                      <div class="runner-details">
                        <div>
                          <div class="float-container">
                            <div class="number-ids">
                              <span>1</span>
                              <br>
                              <span>(3)</span>
                            </div>
                          </div>
                          <div class="float-container">
                            <race-symbol>
                              <div class="race-symbol horse-racing">
                                <img class="symbol-img" src="/api/media/jockeysilk/YzIwMTgwODEzYXlyLzAwODUyNjAyLmpwZw">
                              </div>
                            </race-symbol>
                          </div>
                          <div class="float-container runner-name">
                            <div class="title truncate">Freed From Desire</div>
                            <div class="jockey-name truncate">Callum Rodriguez</div>
                          </div>
                        </div>
                        <pnl class="pnl-racing">
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">4.50</div>
                            <market-volume>400
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">4.60</div>
                            <market-volume>37,974
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">4.70</div>
                            <market-volume>608
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">4.80</div>
                            <market-volume>9,394
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">4.90</div>
                            <market-volume>24,496
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">5.00</div>
                            <market-volume>1,360
                            </market-volume>
                          </div>
                        </bet-button>
                      </div>
                    </div>
                    <div class="market list-item betting-disabled" id="selection-1.146659421-19810253">
                      <div class="runner-details">
                        <div>
                          <div class="float-container">
                            <div class="number-ids">
                              <span>2</span>
                              <br>
                              <span>(1)</span>
                            </div>
                          </div>
                          <div class="float-container">
                            <race-symbol>
                              <div class="race-symbol horse-racing">
                                <img class="symbol-img" src="/api/media/jockeysilk/YzIwMTgwODEzYXlyLzAwMDIzOTQwLmpwZw">
                              </div>
                            </race-symbol>
                          </div>
                          <div class="float-container runner-name">
                            <div class="title truncate">Beechwood Ella</div>
                            <div class="jockey-name truncate">Tony Hamilton</div>
                          </div>
                        </div>
                        <pnl class="pnl-racing">
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">12.0</div>
                            <market-volume>460
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">12.5</div>
                            <market-volume>1,172
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">13.0</div>
                            <market-volume>874
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">15.0</div>
                            <market-volume>512
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">15.5</div>
                            <market-volume>640
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">17.0</div>
                            <market-volume>548
                            </market-volume>
                          </div>
                        </bet-button>
                      </div>
                    </div>
                  </market>
                </div>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </my-bets>
    </div>
    <!-- </div> -->
  </ion-content>
</ion-view>
