<ion-view view-title="home" class="ion-page">
  <div class="header-container">
    <ion-navbar class="toolbar toolbar-md app-header root-page">
      <div class="toolbar-background toolbar-background-md"></div>
      <ion-buttons left="" class="bar-buttons bar-buttons-md">
        <button class="button button-icon button-clear ion-navicon font25" menu-toggle="left"></button>
      </ion-buttons>
      <ion-buttons class="bar-buttons bar-buttons-md">
        <button class="old-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md">
          <i class="icon ion-search placeholder-icon"></i>
          <div class="button-effect"></div>
        </button>

        <search-event></search-event>
        <button class="balance-button disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"
          menu-toggle="right">
          <span class="button-inner">
            <balance ng-balance="balanceData"> </balance>
          </span>
          <div class="button-effect"></div>
        </button>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md">
        <ion-title class="left-title title title-md">
          <div class="toolbar-title toolbar-title-md">
            <div class="logo">Kings Bet</div>
          </div>
        </ion-title>
      </div>
    </ion-navbar>

    <ion-navbar class="search-header toolbar toolbar-md hide-header" ng-if="">
      <div class="toolbar-background toolbar-background-md"></div>
      <ion-buttons left="" class="bar-buttons bar-buttons-md">
        <button class="search-back disable-hover bar-button bar-button-md bar-button-default bar-button-default-md">
          <a class="ion-arrow-left-c color-white"></a>
        </button>
      </ion-buttons>
      <ion-buttons class="bar-buttons bar-buttons-md">
        <button class="old-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md">
          <i class="icon ion-search placeholder-icon"></i>
          <div class="button-effect"></div>
        </button>

        <search-event></search-event>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md">
        <div class="ng-untouched ng-pristine ng-valid">
          <input class="search-term ng-untouched ng-pristine ng-valid" formcontrolname="searchTerm" id="searchTerm"
            name="searchTerm" type="text" placeholder="Search Events" />
        </div>
      </div>
    </ion-navbar>
  </div>
  <ion-content class="home-page event-page content content-md" padding="" style="margin-top:60px;">
    <!-- <div ng-include="page"></div> -->
    <span class="open-bets-link" ui-sref="app.open-bet">Open Bets (1)</span>
    <div class="distinct market-list list">
      <div class="market-list-item item item-block" ng-repeat="market in marketData">
        <div class="item-inner">
          <div class="input-wrapper">
            <div class="full-image">
              <div class="popular-event">
                <span ng-click="saveFavourite(market);">
                  <span> <i class="far fa-star icon-style"></i> </span>
                  <span ng-if="market.isFavourite" hidden>
                    <i class="fas fa-star apl-icon-star-o"></i>
                  </span>
                </span>
                <div class="event-details" ng-click="market.betfairStatus != 'OPEN' ? '':getDetailedPage(selectedGame,market.eventName,market.parentCategory);">
                  <i class="fi flaticon-cricket"></i>
                  <span class="label">{{ market.eventName }}</span>
                </div>

                <!--
                  <div class="match-stats-info-icon" item-right="">
                    <i class="apl-icon-custom-match-stats fi flaticon-number-zero"></i>
                    <i class="apl-icon-custom-match-stats fi flaticon-number-one"></i>
                  </div>
                -->

                <div class="in-play in-play-icon" ng-if="checkDate(market) == false">
                  <i class="fi flaticon-play-button"> <span>In Play</span></i>
                </div>
              </div>
              <div class="in-time-content" ng-if="checkDate(market) == true">
                {{ market.marketStartTime | formatdate }}
              </div>
              <div class="list-body">
                <!--
                  <market marketRun="market.runners" markets="market"> </market>
                -->
                <div class="market list-item-custom" ng-repeat="runner in market.runners">
                  <div class="list-item">
                    <div class="runner-details">
                      <div class="title">
                        <span>{{ runner.name }}</span>
                      </div>
                    </div>
                    <div class="odds-container">
                      <!--
                        ng-click="showBet()"  index="2" tappable="" type="back"
                      -->
                      <back-button run="runner" markets="market" type="back" class="more-odds not-selected" ng-click="showBet(market,runner,'BACK')">
                      </back-button>
                      <lay-button run="runner" markets="market" type="lay" class="more-odds not-selected" ng-click="showBet(market,runner,'LAY')">
                      </lay-button>
                      <!--
                        <div ng-if="market.betfairStatus == 'OPEN'|| market.isSuspended == 'No' || market.inPlayStatus == 'Open' || isDraw == true"
                          ng-hide="market.runners.length==3 || isDraw == false || market.allZero" class="not-selected">
                          <span>-</span>
                        </div>
                      -->
                    </div>
                  </div>
                  <div ng-show="betSlipRunner.selectionId == runner.betfairId">
                    <bet-form>
                      <form class="bet-form back" novalidate="" style="transform: translateY(0px);">
                        <div class="inputs">
                          <odds-stepper class="item-block input-group odds-stepper-group">
                            <label class="label-md" stacked="">Odds</label>
                            <div class="stepper-input">
                              <button class="minus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light"
                                ng-click="betSlipRunner.odds=incOrDec(betSlipRunner.odds,'down',betSlipRunner.type);"
                                type="button">
                                <span class="button-inner">-</span>
                                <div class="button-effect"></div>
                              </button>
                              <ion-item class="item item-block item-md item-input input-has-value item-input-has-value">
                                <div class="item-inner">
                                  <div class="input-wrapper">
                                    <ion-input type="number" class="input input-md">
                                      <input class="text-input text-input-md" type="number" autocomplete="off"
                                        autocorrect="off" placeholder="" ng-model="betSlipRunner.odds" ng-keydown="betSlipRunner.odds= incOrDec(betSlipRunner.odds,$event,betSlipRunner.type);" />
                                    </ion-input>
                                  </div>
                                </div>
                                <div class="button-effect"></div>
                              </ion-item>
                              <button class="plus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light"
                                ng-click="betSlipRunner.odds=incOrDec(betSlipRunner.odds,'up',betSlipRunner.type);"
                                type="button">
                                <span class="button-inner">+</span>
                                <div class="button-effect"></div>
                              </button>
                            </div>
                          </odds-stepper>
                          <div class="input-group input-group-stake">
                            <label class="label-md" stacked="">Stake</label>
                            <ion-item class="item item-block item-md item-input ">
                              <div class="item-inner">
                                <div class="input-wrapper">
                                  <ion-input type="number" class="input input-md no-liability ">
                                    <input class="text-input text-input-md" type="number" autocomplete="off"
                                      autocorrect="off" placeholder="Max Bet: {{ value }}" ng-model="betSlipRunner.stake" />
                                  </ion-input>
                                </div>
                              </div>
                              <div class="button-effect"></div>
                            </ion-item>
                          </div>
                        </div>

                        <div class="input-buttons">
                          <button type="button" class="disable-hover button button-md button-default button-default-md button-small button-small-md button-md-cta-action"
                            ng-click="betSlipRunner.stake = mobileStakes[0]">
                            <span class="button-inner">+{{mobileStakes[0]}}</span>
                            <div class="button-effect"></div>
                          </button>
                          <button type="button" class="disable-hover button button-md button-default button-default-md button-small button-small-md button-md-cta-action"
                            ng-click="betSlipRunner.stake = mobileStakes[1]">
                            <span class="button-inner">+{{mobileStakes[1]}}</span>
                            <div class="button-effect"></div>
                          </button>
                          <button type="button" class="disable-hover button button-md button-default button-default-md button-small button-small-md button-md-cta-action"
                            ng-click="betSlipRunner.stake = mobileStakes[2]">
                            <span class="button-inner">+{{mobileStakes[2]}}</span>
                            <div class="button-effect"></div>
                          </button>
                        </div>

                        <div class="input-buttons confirmation-buttons">
                          <button class="-large disable-hover button button-md button-default button-default-md button-md-cta-secondary"
                            ng-click="cancelBet()" type="button">
                            <span class="button-inner">Cancel</span>
                            <div class="button-effect"></div>
                          </button>
                          <button class="line-h0 -large disable-hover button button-md button-default button-default-md button-md-cta-primary"
                            type="submit" ng-click="confirmbetShow()">
                            <span class="button-inner">
                              <span class="content action">Place Bet</span>
                              <span class="content info ">Profit: 0.00</span>
                            </span>
                            <div class="button-effect"></div>
                          </button>
                        </div>
                        <div class="item item-toggle">
                          Confirm bet before placing
                          <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="userConfigData.confirmStatus" ng-click="setUserConfig('confirmBet')" />
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                        </div>
                      </form>
                    </bet-form>
                  </div>
                </div>
                <!--
                  <div ng-if="market.betfairStatus == 'OPEN'|| market.isSuspended == 'No' || market.inPlayStatus == 'Open' || isDraw == true"
                    ng-hide="market.runners.length==3 || isDraw == false || market.allZero" class="not-selected">
                    <span>-</span>
                  </div>
                  <div class="not-selected" ng-if="market.betfairStatus == 'OPEN'|| market.isSuspended == 'No' || market.inPlayStatus == 'Open' || isDraw == true"
                    ng-hide="market.runners.length==3 || isDraw == false || market.allZero">
                    <span>-</span>
                  </div>
                -->
                <div ng-if="market.betfairStatus != 'OPEN' || market.isSuspended == 'Yes'" ng-hide="market.allZero">
                  <span class="event-name">{{ market.betfairStatus }}</span>
                </div>

                <div ng-show="market.allZero">
                  <span class="event-name">SUSPEND</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-fab bottom="" class="btn-go-to-my-markets" right="" ui-sref="app.match-inner">
    <button ion-fab="" class="fab fab-md">
      <ion-icon class="fab-close-icon icon icon-md ion-md-close" name="close" role="img" aria-label="close"></ion-icon>
      <span class="button-inner"> <i class="fi flaticon-eye"></i> </span>
      <div class="button-effect"></div>
    </button>
  </ion-fab>
</ion-view>
