<ion-view view-title="home" class="ion-page">
  <ion-content class="home-page event-page content content-md" padding="" style="margin-top:30px;">
    <!-- <div class="fixed-content" style="margin-top: 60px;"></div>
    <div class="scroll-content" style="margin-top: 60px; overflow:visible"> -->

    <section>
      <div class="in-play page-title">
        <i class="apl-icon-custom-play"></i>
        <span class="label">In Play</span>
      </div>
      <span analytics-on="" class="open-bets-link">Open Bets (1)</span>

      <ion-list class="distinct market-list list list-md">

        <ion-item class="market-list-item item item-block item-md item-toggle">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div class="popular-event" tappable="">
                  <div class="event-details">
                    <i class="apl-icon-sport-cricket"></i>
                    <span class="label">Sri Lanka v South Africa (4th ODI)</span>
                  </div>

                  <div class="match-stats-info-icon" item-right="">
                    <i class="apl-icon-custom-match-stats"></i>
                  </div>
                  <div class="in-play-icon" item-right="">
                    <i class="apl-icon-custom-play"></i>
                  </div>
                </div>

                <div class="list-body">


                  <market>

                    <div class="market list-item" id="selection-1.146401983-7337">
                      <div class="runner-details">



                        <div class="title">
                          <span>Sri Lanka</span>
                        </div>




                        <pnl>

                          <span class="-positive">40.00</span>

                        </pnl>
                      </div>
                      <div class="odds-container">



                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">


                            <div class="price">1.71</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">


                            <div class="price">1.72</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">


                            <div class="price">1.73</div>

                            <market-volume>12,806
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">


                            <div class="price">1.74</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">1.75</div>

                            <market-volume>4,324
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">1.76</div>

                            <market-volume>134,580
                            </market-volume>
                          </div>
                        </bet-button>
                      </div>
                    </div>
                    <div class="market list-item" id="selection-1.146401983-349">
                      <div class="runner-details">
                        <div class="title">
                          <span>South Africa</span>
                        </div>
                        <pnl>
                          <span class="-negative">-32.00</span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">2.30</div>
                            <market-volume>102,984
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">2.32</div>
                            <market-volume>3,262
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">

                            <div class="price">2.34</div>

                            <market-volume>377,798
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">


                            <div class="price">2.38</div>

                            <market-volume>35,842
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">

                            <div class="price">2.40</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">2.42</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>




                      </div>

                    </div>


                  </market>
                </div>
              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div class="popular-event" tappable="">
                  <div class="event-details">
                    <i class="apl-icon-sport-cricket"></i>
                    <span class="label">Southern Vipers v Yorkshire Diamonds</span>
                  </div>

                  <div class="match-stats-info-icon" item-right="">
                    <i class="apl-icon-custom-match-stats"></i>
                  </div>
                  <div class="in-play-icon" item-right="">
                    <i class="apl-icon-custom-play"></i>
                  </div>
                </div>

                <div class="list-body">


                  <market>

                    <div class="market list-item" id="selection-1.146470978-11445382">
                      <div class="runner-details">



                        <div class="title">
                          <span>Southern Vipers</span>
                        </div>




                        <pnl>

                          <span></span>

                        </pnl>
                      </div>
                      <div class="odds-container">



                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">


                            <div class="price">1.45</div>

                            <market-volume>80,324
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">


                            <div class="price">1.48</div>

                            <market-volume>4,000
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">


                            <div class="price">1.49</div>

                            <market-volume>780
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">


                            <div class="price">1.50</div>

                            <market-volume>51,596
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">1.52</div>

                            <market-volume>162,828
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">1.53</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>




                      </div>

                    </div>


                    <div class="market list-item" id="selection-1.146470978-11445380">
                      <div class="runner-details">



                        <div class="title">
                          <span>Yorkshire Diamonds</span>
                        </div>




                        <pnl>

                          <span></span>

                        </pnl>
                      </div>
                      <div class="odds-container">



                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">


                            <div class="price">2.88</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">


                            <div class="price">2.92</div>

                            <market-volume>84,760
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">


                            <div class="price">3.00</div>

                            <market-volume>25,798
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">


                            <div class="price">3.05</div>

                            <market-volume>380
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">3.10</div>

                            <market-volume>1,910
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">3.25</div>

                            <market-volume>35,836
                            </market-volume>
                          </div>
                        </bet-button>




                      </div>

                    </div>


                  </market>
                </div>
              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div class="popular-event" tappable="">
                  <div class="event-details">
                    <i class="apl-icon-sport-tennis"></i>
                    <span class="label">Zopp v M Ymer</span>
                  </div>

                  <div class="match-stats-info-icon" item-right="">
                    <i class="apl-icon-custom-match-stats"></i>
                  </div>
                  <div class="in-play-icon" item-right="">
                    <i class="apl-icon-custom-play"></i>
                  </div>
                </div>

              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div class="popular-event" tappable="">
                  <div class="event-details">
                    <i class="apl-icon-sport-tennis"></i>
                    <span class="label">D Lee v Y Wu</span>
                  </div>

                  <div class="match-stats-info-icon" item-right="">
                    <i class="apl-icon-custom-match-stats"></i>
                  </div>
                  <div class="in-play-icon" item-right="">
                    <i class="apl-icon-custom-play"></i>
                  </div>
                </div>

              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
      </ion-list>
    </section>


    <section>
      <h2 class="page-title">Most Popular</h2>


      <ion-list class="distinct market-list list list-md">

        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div analytics-on="" class="popular-event" tappable="">

                  <div class="event-details">
                    <i class="apl-icon-sport-football"></i>
                    <span class="label">Man Utd v Leicester</span>
                    <p class="date-info">
                      <span>11/08/2018 00:30</span>

                    </p>
                  </div>


                </div>

              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div analytics-on="" class="popular-event" tappable="">

                  <div class="event-details">
                    <i class="apl-icon-sport-cricket"></i>
                    <span class="label">England v India (2nd Test)</span>
                    <p class="date-info">
                      <span>Tomorrow 15:30</span>
                      <span>
                                            (Opens in 23hrs 5mins)
                                        </span>
                    </p>
                  </div>


                </div>

                <div class="list-body">


                  <market>

                    <div class="market list-item betting-disabled" id="selection-1.146373582-10301">
                      <div class="runner-details">



                        <div class="title">
                          <span>England</span>
                        </div>




                        <pnl>

                          <span></span>

                        </pnl>
                      </div>
                      <div class="odds-container">



                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">


                            <div class="price">2.04</div>

                            <market-volume>361,578
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">


                            <div class="price">2.06</div>

                            <market-volume>208,058
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">


                            <div class="price">2.08</div>

                            <market-volume>15,144
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">


                            <div class="price">2.10</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">2.12</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">2.14</div>

                            <market-volume>333,090
                            </market-volume>
                          </div>
                        </bet-button>




                      </div>

                    </div>


                    <div class="market list-item betting-disabled" id="selection-1.146373582-414464">
                      <div class="runner-details">



                        <div class="title">
                          <span>India</span>
                        </div>




                        <pnl>

                          <span></span>

                        </pnl>
                      </div>
                      <div class="odds-container">



                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">


                            <div class="price">3.00</div>

                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">


                            <div class="price">3.05</div>

                            <market-volume>406,880
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">


                            <div class="price">3.10</div>

                            <market-volume>47,370
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">


                            <div class="price">3.15</div>

                            <market-volume>94,032
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">3.20</div>

                            <market-volume>242,482
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">3.25</div>

                            <market-volume>322,758
                            </market-volume>
                          </div>
                        </bet-button>




                      </div>

                    </div>


                    <div class="market list-item betting-disabled" id="selection-1.146373582-60443">
                      <div class="runner-details">



                        <div class="title">
                          <span>The Draw</span>
                        </div>




                        <pnl>

                          <span></span>

                        </pnl>
                      </div>
                      <div class="odds-container">



                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">


                            <div class="price">4.80</div>

                            <market-volume>245,484
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">


                            <div class="price">4.90</div>

                            <market-volume>494,684
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">


                            <div class="price">5.00</div>

                            <market-volume>404,638
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">


                            <div class="price">5.10</div>

                            <market-volume>17,668
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">5.20</div>

                            <market-volume>343,596
                            </market-volume>
                          </div>
                        </bet-button>

                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">


                            <div class="price">5.30</div>

                            <market-volume>427,880
                            </market-volume>
                          </div>
                        </bet-button>




                      </div>

                    </div>


                  </market>
                </div>
              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div analytics-on="" class="popular-event" tappable="">

                  <div class="event-details">
                    <i class="apl-icon-sport-football"></i>
                    <span class="label">Celtic v AEK Athens</span>
                    <p class="date-info">
                      <span>Tomorrow 00:15</span>

                    </p>
                  </div>


                </div>

              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div analytics-on="" class="popular-event" tappable="">

                  <div class="event-details">
                    <i class="apl-icon-sport-cricket"></i>
                    <span class="label">Dindigul Dragons v Madurai Super Giant</span>
                    <p class="date-info">
                      <span>07/08/2018 19:10</span>

                    </p>
                  </div>


                </div>

                <div class="list-body">

                  <market-suspended>
                    <div class="market-suspended">

                      <div class="runners">

                        <div>
                          <div class="list-item">
                            <div class="details">


                              <div class="title">Dindigul Dragons</div>


                              <pnl>

                                <span></span>

                              </pnl>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="list-item">
                            <div class="details">


                              <div class="title">Madurai Super Giant</div>


                              <pnl>

                                <span></span>

                              </pnl>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="suspended">
                        <div class="inner">SUSPENDED</div>
                      </div>
                    </div>
                  </market-suspended>

                </div>
              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div analytics-on="" class="popular-event" tappable="">

                  <div class="event-details">
                    <i class="apl-icon-sport-football"></i>
                    <span class="label">Arsenal v Man City</span>
                    <p class="date-info">
                      <span>12/08/2018 20:30</span>

                    </p>
                  </div>


                </div>

              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div analytics-on="" class="popular-event" tappable="">

                  <div class="event-details">
                    <i class="apl-icon-sport-football"></i>
                    <span class="label">Red Bull Salzburg v Shkendija</span>
                    <p class="date-info">
                      <span>Today 22:30</span>

                    </p>
                  </div>


                </div>

              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item class="market-list-item item item-block item-md">
          <div class="item-inner">
            <div class="input-wrapper">

              <ion-label class="label label-md">
                <div analytics-on="" class="popular-event" tappable="">

                  <div class="event-details">
                    <i class="apl-icon-sport-football"></i>
                    <span class="label">Huddersfield Town v Chelsea</span>
                    <p class="date-info">
                      <span>11/08/2018 19:30</span>

                    </p>
                  </div>


                </div>

              </ion-label>
            </div>

          </div>
          <div class="button-effect"></div>
        </ion-item>
      </ion-list>
    </section>
    <!-- </div> -->
  </ion-content>
</ion-view>
