<ion-view view-title="Profit Loss" class="ion-page">
  <div class="header-container">
    <ion-navbar class="toolbar toolbar-md app-header root-page">
      <div class="toolbar-background toolbar-background-md"></div>
      <go-back-button></go-back-button>
      <ion-buttons class="bar-buttons bar-buttons-md">
        <search-event></search-event>
        <button class="balance-button disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"
          ion-button="" menu-toggle="right">
          <span class="button-inner">
            <balance ng-balance="balanceData">
            </balance>
          </span>
        </button>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md" ui-sref="app.home">
        <ion-title class="left-title title title-md">
          <div class="toolbar-title toolbar-title-md">
            <div class="logo">
              Kings Bet
            </div>
          </div>
        </ion-title>
      </div>
    </ion-navbar>
    <ion-toolbar class="one-click-setting toolbar toolbar-md" ng-if="userConfigData.oneClickStatus == true">
        <div class="toolbar-content toolbar-content-md">
          <div ng-include="oneClickBetting"></div>
        </div>
      </ion-toolbar>
    <div class="card p-0">
        <div class="row item item-divider">
          <div class="right col-50 from-to-date">
            <div class="">
              From
            </div>
          </div>
          <div class="right col-50 from-to-date">
            <div>
              To
            </div>
          </div>
        </div>
        <div>
          <div class="row item">
              <div class="right col-50 from-to-date">
                  <input type="text" name="fromDate" ng-model="formData.fromDate" ng-click="openDatePicker()" class="cursor">
                </div>
                <div class="right col-50 from-to-date">
                  <input type="text" name="toDate" ng-model="formData.toDate" ng-click="openDatePicker2()" class=" cursor">
                </div>
          </div>
        </div>
        <div class="padding text-center">
          <button class="button button-search button-small button-positive" type="submit" ng-click="bettingPl({})" id="submit">
            <!-- <i class="icon ion-search placeholder-icon"></i>  -->
            Search
          </button>
        </div>
      </div>
  </div>
  <ion-content class="betting-pnl-page content content-md" padding="" ng-class="{'oneclick-top':userConfigData.oneClickStatus == true}">
    <!-- <div class="fixed-content" style="margin-top: 60px;"></div>
  <div class="scroll-content" style="margin-top: 60px;"> -->
    <div>
      <h2 class="page-title">Betting Profit &amp; Loss</h2>
      <div class="pnl-list">
        <div class="date-section">
          <div class="" ng-if="!isDetailedView" ng-repeat="item in bettingPldata">
            <div class="date">
              <time>{{item._id}}</time>
              <span class="total">P&amp;L:
                <span class="value" ng-class="{'-negative': totalPL < 0, '-positive': totalPL  >= 0}">
                  {{totalPL}}
                  <!-- <displaynumber ng-model="totalPL"></displaynumber> -->
                </span>
              </span>
            </div>

            <div class="wrapper" ng-repeat="n in item.records">
              <div class="info">
                <div class="truncate">
                  <a analytics-on="">
                    <strong> <span class="">{{n.eventName}}</span> - {{n.matchName}}</strong>
                  </a>
                </div>
                <div class="market-info">
                  <strong>Start time:</strong> <time timestamp="vm.makeDate(order.marketTime)" type="datetime" class="">{{n.marketStartTime|date:'dd/MM/yyyy
                    hh:mm:ss'}}
                  </time> </div>
                <div class="market-info">
                  <strong>Settled Time:</strong> <time timestamp="vm.makeDate(order.settledTime)" type="datetime" class="">{{n.settledTime|date:'dd/MM/yyyy
                    hh:mm:ss'}}
                  </time></div>
              </div>
              <div class="pnl-titles">
                <div>
                  <strong>Comm:</strong>
                </div>
                <div>
                  <strong>Net Win:</strong>
                </div>
              </div>
              <div class="pnl-numbers">
                <div>
                  <span class="numeric " ng-class="{'-negative': order.memberComm > 0, '-positive': order.memberComm <= 0}">
                    <displaynumber ng-model="n.commissionAmt"></displaynumber>
                  </span>

                </div>
                <div>
                  <span class="numeric " ng-class="{'-negative': order.pnl < 0, '-positive': order.pnl >= 0}">
                    <displaynumber ng-model="n.netAmount"></displaynumber>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
