<ion-view view-title="home" class="ion-page time-settings">
  <div class="header-container">
    <ion-navbar class="toolbar toolbar-md app-header root-page">
      <div class="toolbar-background toolbar-background-md"></div>
      <go-back-button></go-back-button>
      <ion-buttons class="bar-buttons bar-buttons-md">
        <search-event></search-event>
        <button
          class="balance-button disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"
          ion-button=""
          menu-toggle="right"
        >
          <span class="button-inner">
            <balance ng-balance="balanceData"> </balance>
          </span>
        </button>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md" ui-sref="app.home">
        <ion-title class="left-title title title-md">
          <div class="toolbar-title toolbar-title-md">
            <div class="logo">Kings Bet</div>
          </div>
        </ion-title>
      </div>
    </ion-navbar>

    <ion-toolbar
      class="one-click-setting toolbar toolbar-md"
      ng-if="userConfigData.oneClickStatus == true"
    >
      <div class="toolbar-content toolbar-content-md">
        <div ng-include="oneClickBetting"></div>
      </div>
    </ion-toolbar>
  </div>
  <ion-content
    class="transfer-page content padding content-md has-header"
    padding
    ng-class="{'oneclick-top':userConfigData.oneClickStatus == true}"
  >
    <div>
      <h2 class="page-title">Time Setting</h2>
      <div class="content">
        <div class="card">
          <div class="clock">
            <span class="date">{{
              clock | timezoneformate: "MMMM dd,yyyy"
            }}</span>
            <span class="time">{{ clock | timezoneformate: "HH:mm:ss" }}</span>
          </div>
          <div class="options">
            <div class="list">
              <label class="item item-radio" ng-click="setTimeZone('system')">
                <input type="radio" name="group" value="go" checked="checked" />
                <div class="radio-content">
                  <div class="item-content">System time - (GMT +00:00)</div>
                  <i class="radio-icon ion-checkmark"></i>
                </div>
              </label>

              <label class="item item-radio" ng-click="setTimeZone('computer')">
                <input type="radio" name="group" value="python" />
                <div class="radio-content">
                  <div class="item-content">
                    Your device time - ({{ gmtComputerTime }})
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
                </div>
              </label>

              <label class="item item-radio" ng-click="setTimeZone('india')">
                <input type="radio" name="group" value="ruby" />
                <div class="radio-content">
                  <div class="item-content">
                    India Standard time - (GMT +05:30)
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
