<ion-view class="login-page ion-page content content-md">

  <div class="fixed-content"></div>
  <div class="login-content">
    <form class="form-group ng-untouched ng-pristine ng-invalid" novalidate="">
      <div class="form-inner">
        <div class="logo"></div>
        <ion-list class="list list-md">
          <ion-item class="item item-block item-md item-input ng-untouched ng-pristine ng-invalid">
            <div class="item-inner">
              <div class="input-wrapper">
                <!---->
                <ion-input formcontrolname="username" type="text" class="input input-md ng-untouched ng-pristine ng-invalid">
                  <!----><input class="text-input text-input-md" type="text" aria-labelledby="lbl-0" autocomplete="off" autocorrect="off"
                    placeholder="Username" formcontrolname="username">
                  <!---->
                  <!---->
                  <!---->
                </ion-input>
              </div>
              <!---->
            </div>
            <div class="button-effect"></div>
          </ion-item>
          <ion-item class="item item-block item-md item-input ng-untouched ng-pristine ng-invalid">
            <div class="item-inner">
              <div class="input-wrapper">
                <!---->
                <ion-input formcontrolname="password" type="password" class="input input-md ng-untouched ng-pristine ng-invalid">
                  <!----><input class="text-input text-input-md" type="password" aria-labelledby="lbl-1" autocomplete="off" autocorrect="off"
                    placeholder="Password" formcontrolname="password">
                  <!---->
                  <!---->
                  <!---->
                </ion-input>
              </div>
              <!---->
            </div>
            <div class="button-effect"></div>
          </ion-item>
        </ion-list>
      </div>
      <button analytics-on="" block="" class="btn-login disable-hover button button-md button-default button-default-md button-block button-block-md button-md-cta-primary"
        color="cta-primary" ion-button="" primary="" type="submit" disabled=""><span class="button-inner">Log in</span><div class="button-effect"></div></button>
    </form>
    <!-- <form class="form-group ">
      <div class="list">
        <label class="item item-input">
                  <input type="text" placeholder="First Name">
                </label>
        <label class="item item-input">
                  <input type="text" placeholder="Last Name">
                </label>
        <label class="item item-input">
                  <textarea placeholder="Comments"></textarea>
                </label>
      </div>
      <button analytics-on="" block="" class="btn-login disable-hover button button-md button-default button-default-md button-block button-block-md button-md-cta-primary"
        color="cta-primary" ion-button="" primary="" type="submit" disabled=""><span class="button-inner">Log in</span><div class="button-effect"></div></button>
    </form> -->
  </div>
</ion-view>
