<ion-view class="login-bg  content content-md">
  <div class="login-page">
    <div class="fixed-content"></div>
    <div class="login-content">
      <form name="loginForm" class="form-group">
        <div class="form-inner">
          <div class="logo">
            Kings Bet
          </div>
          <div class="list list-md">
            <div class="item item-block item-md item-input">
              <div class="item-inner">
                <div class="input-wrapper">
                  <input class="text-input text-input-md" type="text" autocomplete="off" autocorrect="off" placeholder="Username"
                    formcontrolname="username" ng-model="credentials.username">
                </div>
              </div>
            </div>
            <div class="item item-block item-md item-input">
              <div class="item-inner">
                <div class="input-wrapper">
                  <input class="text-input text-input-md" type="password" autocomplete="off" autocorrect="off"
                    placeholder="Password" formcontrolname="password" ng-model="credentials.password">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-login disable-hover button button-md button-block button-block-md" type="submit" ng-click="userLogin(credentials)">
          <span class="button-inner">Log in</span>
        </button>
      </form>
    </div>
  </div>
</ion-view>
