<ion-modal-view class="bet-confirm" ng-class="{'lay':betSlipRunner.type=='LAY','back':betSlipRunner.type=='BACK'}">
  <!--
    <ion-header-bar class="bar bar-header bar-positive">
      <button
        class="button button-clear button-primary"
        ng-click="confirmbetHide()"
      >
        Cancel
      </button>
    </ion-header-bar>
  -->
  <ion-content>
    <div class="dialog-content">
      <h1>{{betSlipRunner.event}}</h1>
      <div class="content-container">
        <h2 ng-if="betSlipRunner.type=='BACK'">Backing <strong>{{betSlipRunner.selectionName}}</strong></h2>
        <h2 ng-if="betSlipRunner.type=='LAY'">Laying <strong>{{betSlipRunner.selectionName}}</strong></h2>
        <ul>
          <li>
            <p>Odds</p>
            <p><em>{{betSlipRunner.odds | number :2}}</em></p>
          </li>
          <li>
            <p>Stake</p>
            <p><em>{{betSlipRunner.stake | number :2}}</em></p>
          </li>
          <li ng-if="betSlipRunner.type=='BACK'">
            <p>Profit</p>
            <p><em>{{betSlipRunner.profit | number: 2}}</em></p>
          </li>
          <li ng-if="betSlipRunner.type=='LAY'">
            <p>Liability</p>
            <p><em>{{betSlipRunner.liability | number: 2}}</em></p>
          </li>
        </ul>
        <div class="input-buttons">
          <button class="-large button button-md button-default button-default-md button-md-cta-secondary" ion-button=""
            ng-click="closeConfirmBet()" type="button">
            <span class="button-inner">Cancel</span>
          </button>
          <button class="line-h0 -large disable-hover button button-md button-default button-default-md button-md-cta-primary"
            type="submit" ng-click="placeBet()">
            <span class="button-inner">
              <span class="content action">Place Bet</span>
              <span class="content info" ng-if="betSlipRunner.type == 'BACK'">Profit:
                {{ betSlipRunner.profit | number: 2 }}</span>
              <span class="content info" ng-if="betSlipRunner.type == 'LAY'">Liability:
                {{ betSlipRunner.liability | number: 2 }}</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
