<div class="back" ng-class="{'blink':value.singleBackRateBlink}">
  <div ng-if="market.betfairStatus == 'OPEN'|| market.isSuspended == 'No' || market.inPlayStatus == 'Open'" ng-hide="market.allZero"
    class="more-odds not-selected">
    <div class="greyed-out" ng-if="market.inPlayStatus == 'Close'"></div>
    <div class="" ng-click=" placeBet(value.singleBackRate,'BACK',market,value)">
      <div class="price">
        <!-- <pre>{{ value }}</pre> -->
        {{ value.singleBackRate > 0 ? value.singleBackRate : "" }}
      </div>
      <div>{{ value.singleBackSize }}</div>
    </div>
  </div>
</div>
