<div class="my-bets-container">
  <ion-list>
    <div class="mb-10">
      <ion-item
        class="item-stable"
        ng-click="toggleGroup('unmatched')"
        ng-class="{active: isGroupShown('unmatched')}"
      >
        <h3 class="toggle">
          <span>Unmatched Bets</span> &nbsp;
          <div class="item-icon-right">
            <i
              class="icon font15 ion-chevron-up"
              ng-class="isGroupShown('unmatched') ? 'ion-chevron-up' : 'ion-chevron-down'"
              style=""
            ></i>
          </div>
        </h3>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown('unmatched')">
        <div
          ng-if="!myCurrentBetData.unMatchedbets || myCurrentBetData.unMatchedbets.length == 0" class="padding"
          >You have no unmatched bets</div
        >
        <section class="content-wrapper">
          <div>
            <open-bets-listing type="matched">
              <div class="open-bets-listing event">
                <div class="market">
                  <div class="selection">
                    <ul
                      ng-repeat="unMatchedbet in myCurrentBetData.unMatchedbets"
                    >
                      <li
                        ng-repeat="bet in unMatchedbet.betData"
                        ng-class="{'back':bet.type =='BACK','lay':bet.type =='LAY'}"
                      >
                        <div class="bet-info no-link">
                          {{ bet.type }} {{ bet.horse }} for
                          {{ bet.stake | number: 2 }} @
                          {{ bet.betRate | number: 2 }}
                          {{ bet.type == "BACK" ? "to win" : "liability" }}
                          {{ (bet.betRate - 1) * bet.stake | number: 2 }}.
                        </div>
                        <div class="wrapper">
                          <div class="bet-details">
                            <div>
                              <strong>{{
                                matchedBet.betData[0].market
                              }}</strong>
                            </div>
                            <div>
                              <strong>Placed</strong> :
                              {{ bet.placedDate | date: "dd/MM/yyyy hh:mm:ss" }}
                            </div>
                          </div>
                          <div class="input-buttons">
                            <button
                              class="disable-hover button button-md button-default button-default-md
                                    button-md-cta-secondary"
                              ng-click="cancelBet(bet,'')"
                            >
                              <span class="button-inner">Cancel</span>
                              <div class="button-effect"></div>
                            </button>
                            <button
                              class="disable-hover button button-md button-default button-default-md button-md-cta-primary"
                              ui-sref="app.match-inner({game: bet.eventType ,parentId: bet.parentCategory,unmatched:bet.betId,eventId:bet.eventId})"
                            >
                              <span class="button-inner">Update</span>
                              <div class="button-effect"></div>
                            </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </open-bets-listing>
          </div>
        </section>
      </ion-item>
    </div>
    <div class="mb-10">
      <ion-item
        class="item-stable"
        ng-click="toggleGroup('matched')"
        ng-class="{active: isGroupShown('matched')}"
      >
        <h3 class="toggle">
          <span>Matched Bets</span> &nbsp;
          <div class="item-icon-right">
            <i
              class="icon font15 ion-chevron-up"
              ng-class="isGroupShown('matched') ? 'ion-chevron-up' : 'ion-chevron-down'"
            ></i>
          </div>
        </h3>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown('matched')">
        <div
          ng-if="!myCurrentBetData.matchedBets || myCurrentBetData.matchedBets.length == 0"
          class="padding"
        >
          You have no matched bets
        </div>
        <section class="content-wrapper">
          <div>
            <open-bets-listing type="matched">
              <div class="open-bets-listing event">
                <div class="market">
                  <div class="selection">
                    <ul ng-repeat="matchedBet in myCurrentBetData.matchedBets">
                      <li
                        ng-repeat="bet in matchedBet.betData"
                        ng-class="{'back':bet.type =='BACK','lay':bet.type =='LAY'}"
                      >
                        <div class="bet-info matched">
                          {{ bet.type }} {{ bet.horse }} for
                          {{ bet.stake | number: 2 }} @
                          {{ bet.betRate | number: 2 }}
                          {{ bet.type == "BACK" ? "to win" : "liability" }}
                          {{ (bet.betRate - 1) * bet.stake | number: 2 }}.
                        </div>
                        <div class="wrapper">
                          <div class="bet-details">
                            <div>
                              <strong>{{ matchedBet.betData[0].event }}</strong>
                            </div>
                            <div>
                              <strong>{{
                                matchedBet.betData[0].market
                              }}</strong>
                            </div>
                            <div>
                              <strong>Placed</strong> :
                              {{ bet.placedDate | date: "dd/MM/yyyy hh:mm:ss" }}
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </open-bets-listing>
          </div>
        </section>
      </ion-item>
    </div>
  </ion-list>
</div>
