<div class="my-bets-container">
  <ion-list>
    <div ng-repeat="group in groups" class="mb-10">
      <ion-item
        class="item-stable"
        ng-click="toggleGroup(group)"
        ng-class="{active: isGroupShown(group)}"
      >
        <h3 class="toggle">
          <span>Unmatched Bets</span> &nbsp;
          <div class="item-icon-right">
            <i
              class="icon font15 ion-chevron-up"
              ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"
              style=""
            ></i>
          </div>
        </h3>
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(group)">
        You have no unmatched bets

        <section class="content-wrapper">
          <!---->
          <!---->
          <div>
            <open-bets-listing type="matched">
              <!---->
              <div class="open-bets-listing event">
                <!---->
                <div class="market">
                  <!---->
                  <div class="selection">
                    <ul>
                      <!---->
                      <li tappable="" class="back">
                        <div class="bet-info matched">
                          Back Pakistan for 50.00 @ 1.090 to win 4.50.
                        </div>
                        <div class="wrapper">
                          <div class="bet-details">
                            <!---->
                            <div><strong>Pakistan v Australia</strong></div>
                            <div><strong>Match Odds</strong></div>
                            <div>
                              <strong>Placed</strong> : 17/10/2018 13:56:16
                            </div>
                          </div>
                          <!---->
                          <!---->
                        </div>
                      </li>
                      <li tappable="" class="back">
                        <div class="bet-info matched">
                          Back Pakistan for 50.00 @ 1.090 to win 4.50.
                        </div>
                        <div class="wrapper">
                          <div class="bet-details">
                            <!---->
                            <div><strong>Pakistan v Australia</strong></div>
                            <div><strong>Match Odds</strong></div>
                            <div>
                              <strong>Placed</strong> : 17/10/2018 13:55:02
                            </div>
                          </div>
                          <!---->
                          <!---->
                        </div>
                      </li>
                      <li tappable="" class="lay">
                        <div class="bet-info matched">
                          Lay Pakistan for 50.00 @ 1.630 liability 31.50.
                        </div>
                        <div class="wrapper">
                          <div class="bet-details">
                            <!---->
                            <div><strong>Pakistan v Australia</strong></div>
                            <div><strong>Match Odds</strong></div>
                            <div>
                              <strong>Placed</strong> : 16/10/2018 18:59:14
                            </div>
                          </div>
                          <!---->
                          <!---->
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="selection">
                    <ul>
                      <!---->
                      <li tappable="" class="lay">
                        <div class="bet-info no-link">
                          Lay Bangladesh for 50.00 @ 1.01 liability 0.50.
                        </div>
                        <div class="wrapper">
                          <div class="bet-details">
                            <!---->
                            <div><strong>Match Odds</strong></div>
                            <div>
                              <strong>Placed</strong> : 01/12/2018 12:23:16
                            </div>
                          </div>
                          <!---->
                          <!---->
                          <div class="input-buttons">
                            <button
                              analytics-on=""
                              color="cta-secondary"
                              ion-button=""
                              class="disable-hover button button-md button-default button-default-md button-md-cta-secondary"
                            >
                              <span class="button-inner">Cancel</span>
                              <div class="button-effect"></div>
                            </button>
                            <button
                              analytics-on=""
                              color="cta-primary"
                              ion-button=""
                              class="disable-hover button button-md button-default button-default-md button-md-cta-primary"
                            >
                              <span class="button-inner">Update</span>
                              <div class="button-effect"></div>
                            </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </open-bets-listing>
          </div>
        </section>
      </ion-item>
    </div>
  </ion-list>
</div>
