<ion-view view-title="Match Inner">
  <!-- <ion-content class="header-shrink-container " padding="" style="margin-top:30px;"> -->

  <shrinkable-page>
    <div class="header-shrink-container" style="transform: none;">
      <div class=" hide-on-scroll-container ">
        <div class="hide-on-scroll ">
          <div class="header-container">
            <ion-navbar class="toolbar toolbar-md app-header root-page">
              <div class="toolbar-background toolbar-background-md"></div>
              <button class="search-back disable-hover font25 bar-button bar-button-md bar-button-default bar-button-default-md">
                <a class="ion-arrow-left-c color-white"></a>
              </button>
              <ion-buttons end="" class="bar-buttons bar-buttons-md">
                <button class="old-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md" ion-button="">
                  <i class="icon ion-search placeholder-icon"></i>
                  <div class="button-effect"></div>
                </button>
                <button analytics-on="" class="balance-button disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"
                  ion-button="" menutoggle="right">
                  <span class="button-inner">
                    <balance>
                      <div>
                        <i class="apl-icon-user"></i>
                        <span class="balance">180</span>
                      </div>
                    </balance>
                  </span>
                  <div class="button-effect"></div>
                </button>
              </ion-buttons>
              <div class="toolbar-content toolbar-content-md">

                <ion-title class="left-title title title-md">
                  <div class="toolbar-title toolbar-title-md">
                    <div class="logo">
                      Kings Bet
                    </div>
                  </div>
                </ion-title>
              </div>
            </ion-navbar>
            <ion-navbar class="search-header toolbar toolbar-md hide-header">
              <div class="toolbar-background toolbar-background-md"></div>
              <button class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md"
                ion-button="bar-button">
                <span class="button-inner">
                  <ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img" aria-label="arrow back"></ion-icon>
                  <span class="back-button-text back-button-text-md"></span>
                </span>
                <div class="button-effect"></div>
              </button>
              <ion-buttons left="" class="bar-buttons bar-buttons-md">
                <button class="search-back disable-hover bar-button bar-button-md bar-button-default bar-button-default-md">
                  <a class="ion-arrow-left-c color-white"></a>
                </button>
              </ion-buttons>
              <ion-buttons end="" class="bar-buttons bar-buttons-md">
                <button analytics-on="" class="new-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md"
                  ion-button="">
                  <span class="button-inner">
                    <ion-icon name="search" role="img" class="icon icon-md ion-md-search" aria-label="search"></ion-icon>
                  </span>
                  <div class="button-effect"></div>
                </button>
              </ion-buttons>
              <div class="toolbar-content toolbar-content-md">
                <div class="ng-untouched ng-pristine ng-valid">
                  <input class="search-term ng-untouched ng-pristine ng-valid" formcontrolname="searchTerm" id="searchTerm" name="searchTerm"
                    type="text" placeholder="Search Events">
                </div>
              </div>
            </ion-navbar>
          </div>
          <event-details>
            <div class="event-details ">
              <other-event-details>
                <div class="other-event-details in-play ">
                  <div class="main-detail-header ">
                    <i class="apl-icon-custom-play "></i>
                    <h5 class="event-title ">Dindigul Dragons v Madurai Panthers</h5>
                  </div>
                  <div class="match-stats-info ">
                    <div class="detail ">
                      <p class="team ">Dindigul Dragons: 107-1 (10.4 Ovs)</p>
                      <p class="info ">
                        <span></span>Siechem Madurai Panthers opt to bowl</p>
                    </div>
                  </div>
                </div>
              </other-event-details>
            </div>
          </event-details>
        </div>
      </div>
    </div>
    <div class="shrink-page-content">
      <ion-content class="event-page scrollable-content content content-md" padding="">
        <!-- <div class="fixed-content"></div>
        <div class="scroll-content" style="padding-top: 153px;"> -->
        <div>
          <ion-tabs class=" tab-header has-header tabs-top">
            <ion-tab title="Market">
              <ion-content class="has-tabs-top has-notabs has-tabs tabs-content">
                fdddddgdfg
              </ion-content>
            </ion-tab>
            <ion-tab title="OVERVIEW">
              <ion-content class="has-tabs-top has-notabs has-tabs tabs-content">
                gfgffffff
              </ion-content>
            </ion-tab>
            <ion-tab title="OVERVIEW">
              <ion-content class="has-tabs-top has-notabs has-tabs tabs-content">
                aaaaaaaaaa
              </ion-content>
            </ion-tab>
            <ion-tab title="OVERVIEW">
              <ion-content class="has-tabs-top has-notabs has-tabs tabs-content">
                hhhh
              </ion-content>
            </ion-tab>
          </ion-tabs>
        </div>
        <!-- <div class="market-list" style="margin-top: 150px;">
            <markets>
              <section class="market-list-item">
                <div class="heading">
                  <div class="title">Match Odds</div>
                  <div class="action">Back</div>
                  <div class="action">Lay</div>
                  <div class="empty-action more-odds"></div>
                  <div class="empty-action more-odds"></div>
                </div>
                <div class="list-body distinct">
                  <market>
                    <div class="market list-item betting-disabled" id="selection-1.146682418-7591874">
                      <div class="runner-details">
                        <div class="title">
                          <span>Jamaica Tallawahs</span>
                        </div>
                        <pnl>
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">1.72</div>
                            <market-volume>36,552
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">1.73</div>
                            <market-volume>4,992
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">1.74</div>
                            <market-volume>1,188
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">1.90</div>
                            <market-volume>11,132
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">1.91</div>
                            <market-volume>26,350
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">1.97</div>
                            <market-volume>15,702
                            </market-volume>
                          </div>
                        </bet-button>
                      </div>
                    </div>
                    <div class="market list-item betting-disabled" id="selection-1.146682418-13660710">
                      <div class="runner-details">
                        <div class="title">
                          <span>St Lucia Stars</span>
                        </div>
                        <pnl>
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">2.02</div>
                            <market-volume>40,764
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">2.10</div>
                            <market-volume>31,710
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">2.12</div>
                            <market-volume>2,306
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">2.34</div>
                            <market-volume>388
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">2.36</div>
                            <market-volume>848
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">2.38</div>
                            <market-volume>3,636
                            </market-volume>
                          </div>
                        </bet-button>
                      </div>
                    </div>
                  </market>
                </div>
              </section>
              <section class="market-list-item">
                <div class="heading">
                  <div class="title">Tied Match</div>
                  <div class="action">Back</div>
                  <div class="action">Lay</div>
                  <div class="empty-action more-odds"></div>
                  <div class="empty-action more-odds"></div>
                </div>
                <div class="list-body distinct">
                  <market>
                    <div class="market list-item betting-disabled" id="selection-1.146682624-37302">
                      <div class="runner-details">
                        <div class="title">
                          <span>Yes</span>
                        </div>
                        <pnl>
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">1.01</div>
                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">34</div>
                            <market-volume>2,364
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">36</div>
                            <market-volume>776
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">110</div>
                            <market-volume>36,680
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                          </div>
                        </bet-button>
                      </div>
                    </div>
                    <div class="market list-item betting-disabled" id="selection-1.146682624-37303">
                      <div class="runner-details">
                        <div class="title">
                          <span>No</span>
                        </div>
                        <pnl>
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">1.01</div>
                            <market-volume>500,000+
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">1.03</div>
                            <market-volume>105,176
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">1.08</div>
                            <market-volume>704
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">110</div>
                            <market-volume>7,908
                            </market-volume>
                          </div>
                        </bet-button>
                      </div>
                    </div>
                  </market>
                </div>
              </section>
              <section class="market-list-item">
                <div class="heading">
                  <div class="title">Completed Match</div>
                  <div class="action">Back</div>
                  <div class="action">Lay</div>
                  <div class="empty-action more-odds"></div>
                  <div class="empty-action more-odds"></div>
                </div>
                <div class="list-body distinct">
                  <market>
                    <div class="market list-item betting-disabled" id="selection-1.146682623-37302">
                      <div class="runner-details">
                        <div class="title">
                          <span>Yes</span>
                        </div>
                        <pnl>
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">1.01</div>
                            <market-volume>59,978
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                            <div class="price">1.99</div>
                            <market-volume>392
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                            <div class="price">2.00</div>
                            <market-volume>2,200
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                          </div>
                        </bet-button>
                      </div>
                    </div>
                    <div class="market list-item betting-disabled" id="selection-1.146682623-37303">
                      <div class="runner-details">
                        <div class="title">
                          <span>No</span>
                        </div>
                        <pnl>
                          <span></span>
                        </pnl>
                      </div>
                      <div class="odds-container">
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="back">
                          <div class="back">
                            <div class="price">1.01</div>
                            <market-volume>59,978
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="back">
                          <div class="back">
                            <div class="price">2.00</div>
                            <market-volume>2,200
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="back" class="not-selected">
                          <div class="back">
                            <div class="price">2.02</div>
                            <market-volume>392
                            </market-volume>
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" index="0" tappable="" type="lay" class="not-selected">
                          <div class="lay">
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="1" tappable="" type="lay">
                          <div class="lay">
                          </div>
                        </bet-button>
                        <bet-button analytics-on="" class="more-odds not-selected" index="2" tappable="" type="lay">
                          <div class="lay">
                          </div>
                        </bet-button>
                      </div>
                    </div>
                  </market>
                </div>
              </section>
            </markets>
          </div> -->

      </ion-content>
    </div>
  </shrinkable-page>
</ion-view>
