<ion-view view-title="My Markets" class="ion-page">

  <div class="header-container">
    <ion-navbar class="toolbar toolbar-md app-header root-page">
      <div class="toolbar-background toolbar-background-md"></div>
      <button class="search-back disable-hover font25 bar-button bar-button-md bar-button-default bar-button-default-md">
        <a class="ion-arrow-left-c color-white"></a>
      </button>
      <ion-buttons end="" class="bar-buttons bar-buttons-md">
        <button class="old-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md" ion-button="">
          <i class="icon ion-search placeholder-icon"></i>
          <div class="button-effect"></div>
        </button>
        <button analytics-on="" class="balance-button disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"
          ion-button="" menutoggle="right">
          <span class="button-inner">
            <balance>
              <div>
                <i class="apl-icon-user"></i>
                <span class="balance">180</span>
              </div>
            </balance>
          </span>
          <div class="button-effect"></div>
        </button>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md">

        <ion-title class="left-title title title-md">
          <div class="toolbar-title toolbar-title-md">
            <div class="logo">
              Kings Bet
            </div>
          </div>
        </ion-title>


      </div>
    </ion-navbar>

    <ion-navbar class="search-header toolbar toolbar-md hide-header">
      <div class="toolbar-background toolbar-background-md"></div>
      <button class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md"
        ion-button="bar-button">
        <span class="button-inner">
          <ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img" aria-label="arrow back"></ion-icon>
          <span class="back-button-text back-button-text-md"></span>
        </span>
        <div class="button-effect"></div>
      </button>
      <ion-buttons left="" class="bar-buttons bar-buttons-md">
        <button class="search-back disable-hover bar-button bar-button-md bar-button-default bar-button-default-md">
          <a class="ion-arrow-left-c color-white"></a>
        </button>
      </ion-buttons>
      <ion-buttons end="" class="bar-buttons bar-buttons-md">
        <button analytics-on="" class="new-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md"
          ion-button="">
          <span class="button-inner">
            <ion-icon name="search" role="img" class="icon icon-md ion-md-search" aria-label="search"></ion-icon>
          </span>
          <div class="button-effect"></div>
        </button>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md">


        <div class="ng-untouched ng-pristine ng-valid">
          <input class="search-term ng-untouched ng-pristine ng-valid" formcontrolname="searchTerm" id="searchTerm" name="searchTerm"
            type="text" placeholder="Search Events">
        </div>

      </div>
    </ion-navbar>
  </div>
  <ion-content class="my-bets-page content content-md" padding="" style="margin-top:60px;">
    <!-- <div class="fixed-content" style="margin-top: 60px;"></div> -->
    <!-- <div class="scroll-content" style="margin-top: 60px;"> -->
    <h2 class="page-title">
      My Markets
    </h2>
    <div>You have no open bets.</div>

    <!-- </div> -->
  </ion-content>
