<ion-view view-title="home" class="ion-page">
  <div class="header-container">
    <ion-navbar class="toolbar toolbar-md app-header root-page">
      <div class="toolbar-background toolbar-background-md"></div>
      <go-back-button></go-back-button>
      <ion-buttons class="bar-buttons bar-buttons-md">
        <!--
          <button class="old-search search disable-hover bar-button bar-button-md bar-button-default bar-button-default-md"
            ion-button="">
            <i class="icon ion-search placeholder-icon"></i>

          </button>
        -->
        <search-event></search-event>
        <button
          class="balance-button disable-hover bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"
          ion-button=""
          menu-toggle="right"
        >
          <span class="button-inner">
            <balance ng-balance="balanceData"> </balance>
          </span>
        </button>
      </ion-buttons>
      <div class="toolbar-content toolbar-content-md" ui-sref="app.home">
        <ion-title class="left-title title title-md">
          <div class="toolbar-title toolbar-title-md">
            <div class="logo">Kings Bet</div>
          </div>
        </ion-title>
      </div>
    </ion-navbar>
    <div
      ng-include="oneClickBetting"
      ng-show="userConfigData.oneClickStatus == true"
    ></div>
  </div>
  <ion-content
    class="sport content content-md has-header"
    ng-class="{'oneclick-top':userConfigData.oneClickStatus == true}"
  >
    <div>
      <!-- <h2 class="page-title">{{ game.game }}</h2> -->
      <section>
        <div class="list">
          <div class="item item-divider">
            <h2>{{ game }}</h2>
          </div>
          <a
            class="item"
            ng-if="!parent"
            ng-repeat="category in subcategory"
            ng-click="getSubCategory(category)"
          >
            <span>{{ category.name }}</span>
          </a>
          <div ng-if="parent" class="padding competition">
            <h2 class="page-title">{{ parent }}</h2>
            <div
              class="date-section"
              ng-repeat="category in subcategory"
              ng-click="getSubCategory(category)"
            >
              <div class="date">
                <time>{{ category.openDate | date: "dd MMMM yyyy" }}</time>
              </div>
              <ion-list class="distinct list list-md">
                <ion-item
                  analytics-on=""
                  class="item item-block item-md"
                  tappable=""
                >
                  <div class="item-inner">
                    <div class="input-wrapper">
                      <ion-label class="label label-md">
                        <div>{{ category.name }}</div>

                        <p class="date-info">
                          {{ category.openDate | formatdate }}
                        </p>
                      </ion-label>
                    </div>
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>
