<!-- <ion-toolbar class="one-click-setting toolbar toolbar-md">
  <div class="toolbar-background toolbar-background-md"></div>
  <div class="toolbar-content toolbar-content-md">
    <one-click-betting>
      <div class="one-click-switch off">

        <div class="current-stake off">
          TAP TO TURN ON 1 CLICK BET
        </div>

        <ion-toggle analytics-on="" class="toggle toggle-md">
          <div class="toggle-icon">
            <div class="toggle-inner"></div>
          </div><button class="item-cover disable-hover item-cover-md item-cover-default item-cover-default-md" disable-activated=""
            ion-button="item-cover" role="checkbox" type="button" id="undefined" aria-checked="false" aria-disabled="false"><span class="button-inner"></span><div class="button-effect"></div></button></ion-toggle>
      </div>
    </one-click-betting>
  </div>
</ion-toolbar> -->

<ion-view view-title="home" class="ion-page">
  <ul class="list" style="margin-top:44px">

    <li class="item item-toggle">
      <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label> TAP TO TURN ON 1 CLICK BET

    </li>
  </ul>
  <ion-content class="one-click-setting content content-md" padding="" style="margin-top:75px;">
    <!-- <div class="fixed-content" style="margin-top: 105px;"></div>
    <div class="scroll-content" style="margin-top: 105px;"> -->
    <div class="title">
      <h2 class="page-title">1 Click Bet Settings</h2>
      <i class="apl-icon-info-sign"></i>
    </div>
    <div class="select-stakes">
      <span>Select active stake:</span>
    </div>
    <div class="stakes-group">
      <div class="stake readonly active">
        <div class="wrapper">
          <p>40</p>
          <span>Active Stake</span>
        </div>
      </div>
      <div class="stake readonly ">
        <div class="wrapper">
          <p>16</p>
        </div>
      </div>
      <div class="stake readonly ">
        <div class="wrapper">
          <p>20</p>
        </div>
      </div>
    </div>
    <button analytics-on="" color="cta-primary" ion-button="" class="disable-hover button button-md button-default button-default-md button-md-cta-primary"><span class="button-inner">Edit</span><div class="button-effect"></div></button>
    <!-- </div> -->
  </ion-content>
</ion-view>
