<ion-view view-title="Search" class="ion-page">
  <div class="header-container">
    <ion-navbar class="toolbar toolbar-md app-header root-page">
      <div class="toolbar-background toolbar-background-md"></div>
      <go-back-button></go-back-button>
      <div class="toolbar-content toolbar-content-md">
        <div class="">
          <input class="text-input text-input-md search-input" id="searchTerm" name="searchTerm" type="text"
            placeholder="Search Events" ng-model="form.searchText" ng-change="searchEvent(form)">
        </div>
      </div>
      <ion-buttons class="bar-buttons bar-buttons-md">
          <i class="icon ion-search placeholder-icon"></i>
          
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-toolbar class="one-click-setting toolbar toolbar-md" ng-if="userConfigData.oneClickStatus == true">
        <div class="toolbar-content toolbar-content-md">
          <div ng-include="oneClickBetting"></div>
        </div>
      </ion-toolbar>
  </div>
  <ion-content class="betting-pnl-page content content-md has-header" padding=""   ng-class="{'oneclick-top':userConfigData.oneClickStatus == true}">
    <div ng-if="searchEventdata.length>0">
      <ion-list class="distinct list list-md">
        <ion-item class="item item-block item-md item-search" ng-repeat="searched in searchEventdata" ui-sref="app.match-inner({
        'game':searched.eventType.name,'parentId':searched._id
      })">
          <div class="item-inner">
            <div class="input-wrapper">
              <span>{{ searched.name }}</span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
